/* Amiri Quran 0.112, SIL OFL 1.1; https://github.com/alif-type/amiri */
@font-face {
  font-family: AmiriQuran;
  font-style: normal;
  font-weight: 400;
  src: local('Amiri Quran'), url('AmiriQuran.woff2') format('woff2');
  font-display: swap;
}

/* KacstOne 5.0 (GNU GPL v2) is from: https://sourceforge.net/projects/arabeyes/files/Fonts/ */
/* It is subsetted and converted to WOFF2 using glyphhanger */
@font-face {
  font-family: KacstOne;
  font-style: normal;
  font-weight: 400;
  src: local('KacstOne'), url('KacstOne-subset.woff2') format('woff2');
  font-display: swap;
}

* { font-family: KacstOne, serif }
#p, #p *, #x *, #endmsg { font-family: AmiriQuran }

#allselectors > * { padding: 0.1em 0 }
select { padding: 0.25em }

/* some of the lightmode colors */
:root {
  --bg-rgb: 240, 240, 232;
  --bg: rgb(240, 240, 232);
  --fg: #000;
  /* search */
  --sxsa: rgba(var(--bg-rgb), 0.6);
  --sxr:  #ffdde0;  /* each aya search results */
  --sxrh: brightness(1.1);  /* hover */
  --sxra-shadow: 0 0 0.25rem black,
    inset 0  0.5rem 1rem #fff,
    inset 0 -0.5rem 1rem #0004;
}

/* some of the darkmode colors */
@media (prefers-color-scheme: dark) { :root {
  --bg-rgb: 17, 0, 0;
  --bg: rgb(17, 0, 0);
  --fg: #f0f0f0;
  /* search */
  --sxsa: rgba(var(--bg-rgb), 0.75);
  --sxr:  #400000;  /* each aya search results */
  --sxrh: brightness(1.2);  /* hover */
  --sxra-shadow: 0 0 0.2rem white,
      inset 0  0.5rem 1rem #fff4,
      inset 0 -0.5rem 1rem #000f;
}}

html, body { background: var(--bg); color: var(--fg) }
body { font-size: 20px; margin-top: 1em; transition: 0.5s margin-top }
@media (max-width: 320px) { body { font-size: 18px } }

#p {
  text-align: right;
  border: 1px solid gray;
  border-radius: 0.5em;
  background: #e8e8e0;
  padding: 1em 0.5em;
  line-height: 3.1;
  white-space: pre-line;  /* to add '\n' if reciting both sura 8 & sura 9 */
}

#t { padding: 0 1em }  /* when showing the content before recitation */

#leg { text-align: right; margin: 1em 0; font-size: 80% }
table { border-spacing: 0 0.4em }
td { padding: 0.25em }
td:first-child { max-width: 35vw; text-align: center }  /* both are for narrow screens (< 500px) */

body > center {
  width: 50em;
  max-width: 95vw;
  margin: 0 auto;
  box-sizing: border-box;
}

#p .w {
  display: inline;
}

/* basmala on very narrow screens */
@media (max-width: 259px) { #p > center { font-size: 90% } }
@media (max-width: 229px) { #p > center { font-size: 80% } }

#x > .w {
  display: inline-block;
  border: 1px solid gray;
}

.w {
  border-radius: 0.5em;
  background: lightgray;
  padding: 0.25em 0.5em;
  margin: 0.1em;
}

#x > .w:hover {
  background: #e0e0e0;
  cursor: pointer;
}

.option { margin-bottom: 0.5em }

#inf {
  display: inline-block;
  color: #808080;
  background: #eaeaea;
  border: 1px dashed gray;
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
  margin: 0.1em;
  cursor: not-allowed;
}

/*
*/

#body { min-height: calc(100vh - 8em) }  /* make #about stick near the footer if short page */

#about {
  font-size: 80%;
  margin: 0;
  margin-top: 2em;
  padding: 0.5em 1em 0.5em 1em;
  box-sizing: border-box;
  color: #444;
  border-top: 1px solid gray;
}

a { text-decoration: none }
a[href]:hover,
a[href]:focus,
a[href]:active { text-decoration: underline }

#about a { color: #55f }
#about a:hover,
#about a:focus { color: #33f }
#about a:active { color: #11f }

.mx { background-color: hsl(  0, 100%, 59%) }
.m4 { background-color: hsl( 25, 100%, 55%) }
.m3 { background-color: hsl( 42, 100%, 51%) }
.m2 { background-color: hsl( 60, 100%, 42%) }
.m1 { background-color: hsl( 80, 100%, 42%) }
.m0 { background-color: hsl(120, 100%, 34%) }
.df { background-color: hsl(170, 100%, 33%) }
.d1 { background-color: hsl(180,  90%, 45%) }
.d0 { background-color: hsl(220,  95%, 60%) }

.mh, .th { transition: box-shadow 1s }
.mh {
  box-shadow: 0 0 0.1em 0.1em #f008,
        inset 0 0 0.4em 0.4em #f004;
}
.th {
  box-shadow: 0 0 0.1em 0.1em #04f8,
        inset 0 0 0.4em 0.4em #04f4;
}

@media (prefers-color-scheme: dark) {
select, input, button { filter: invert(1) hue-rotate(180deg) }
#p { background: #202020 }
.w { background: #302b2b }
#x > .w:hover { background: #404050 }
#inf { background: #252020 }
.mx { background-color: hsl(  0, 100%, 44%) }
.m4 { background-color: hsl( 24, 100%, 40%) }
.m3 { background-color: hsl( 42, 100%, 38%) }
.m2 { background-color: hsl( 60, 100%, 32%) }
.m1 { background-color: hsl( 80, 100%, 29%) }
.m0 { background-color: hsl(120, 100%, 19%) }
.df { background-color: hsl(170, 100%, 20%) }
.d1 { background-color: hsl(180, 100%, 27%) }
.d0 { background-color: hsl(220, 100%, 29%) }
#about { color: #ddd }
#about a { color: #99f }
#about a:hover,
#about a:focus { color: #9bf }
#about a:active { color: #9df }
.mh {
  box-shadow: 0 0 0.1em 0.1em #f44a,
        inset 0 0 0.4em 0.4em #f44a;
}
.th {
  box-shadow: 0 0 0.1em 0.1em #48fa,
        inset 0 0 0.4em 0.4em #48fa;
}
}

label { display: inline-block }  /* don't break over lines */

/* largely copied from Recite */

#aaya_bgn, #aaya_end { width: 4em; }

/* search buttons in #selectors */
.as > button { width: initial; padding: 0.25em 1em }
@media (max-width: 440px) {
.as > button { padding: 0.25em 0.5em }
.srcttl {  /* .sr-only -- hide visually but keep it for screenreaders */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
}

.as {
  display: block;
  max-width: 20em;
  min-width: 40%;
  white-space: nowrap;
  margin: 0.1em 0;
}

.as > label:first-child { width: 4em }  /* من سورة and إلى سورة */

@media (max-width: 339px) {
  .sura { display: none }
  .as > label:first-child { width: 1.6em }  /* من and إلى */
}

@media (max-width: 279px) {
  .aaya { display: none }
}

button {
  display: inline-block;
  padding: 0.25em 1em;
  transition: opacity 0.5s ease-in-out;
  touch-action: manipulation; /* disable double-tap zooming; https://stackoverflow.com/a/53236027 */
  cursor: pointer;
}

button:disabled { cursor: not-allowed }

#levels_option > label { margin: 0.25em }

.bh button {
  margin: 1em;
  min-width: 7em;
  width: 10em;
  max-width: 35vw;
  padding: 0.5em;
}

@media (max-width: 427px) {  /* smaller, but still two buttons in a single row */
.bh button { margin: 1em 0.5em; max-width: 50vw }
}

@media (max-width: 410px) {  /* eventually will be two rows */
.bh button { margin: 0.5em; max-width: 70vw }
.bh { margin-top: 1em }
}

#qaris {
  margin: 1em 0;
  width: calc(100% - 6.5em);
}

#teacher_option {
  margin-top: -1em;
  margin-bottom: 1em;
}

#preloader {
  display: none;
}

#player {
  display: block;
  /* centered with https://stackoverflow.com/a/2006008 */
  margin-left: -6em; /* negative half of width */
  width: 12em;
  left: 50vw;
  /* sticky at top */
  position: fixed;
  top: 0;
  /* hidden if no qari is selected */
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 30;  /* higher than the help toggle label */
}

/* begin: common styling for popups: search */
.popup {  /* the container */
  display: none;
  visibility: hidden;  opacity: 0;  transition: 1s opacity;
  position: fixed;  top: 0;  right: 0;  width: 100%;  height: 100%;
  overflow: scroll;
  z-index: 50;  /* above everything */
  background: var(--bg);
}

.pc {  /* popup content */
  padding: 1em 0;
  width: 90%;
  max-width: 35em;
  margin: 0 auto;
  text-align: center;
}
.pc > * {
  font-size: 1.25em;
}
.pc > * * {
  font-family: inherit;
  font-size: inherit;
}

.x {  /* popup close-button */
  opacity: 0.25;  transition: 0.75s opacity;
  position: fixed;  top: 0.5em;  left: 0.5em;
  cursor: pointer;
  width: 2em;
  height: 2em;
}

.x:hover, .x:focus { opacity: 1 }

.x line { stroke: var(--bg) }
.x circle { fill: currentColor }

#spinner { animation: spin 1.6s infinite linear; stroke: currentColor }
@keyframes spin {
    0% { transform: rotate(0turn) }
  100% { transform: rotate(1turn) }
}
#spinner-svg {
    width: 4em;
    margin: 1em auto;
    vertical-align: bottom;
}

.aya { font-family: AmiriQuran !important }

/* end: common styling for popups: search */

/* begin: search */
/* see also: "search buttons in #selectors" */

#sx * { font-family: KacstOne }
/* except #sxr .aya */

#sxi { width: 100%;
  padding-left: 1em;  /* for the close button */
  box-sizing: border-box;
}
#sx input { min-width: 8em }

#sura_sx {
  margin-left: 0.5em;
  width: 5em;
}

#sxi { display: flex }
#sx input {
  flex-grow: 100; /* all the space it can have */
  margin: auto 0; height: 85%;
}

@media (max-width: 428px) { #sura_sx { font-size: 90% } }
@media (max-width: 395px) { /* make it two lines */
  #sxi { display: block; padding: 0 }
  #sura_sx { margin-bottom: 0.5em; font-size: 100% }
  #sx input { width: 97% /* full row;  100% is too wide */ }
}

#sx center { margin: 2em 0 }  /* messages, not search results */
#sx svg + center { margin-top: 0 }  /* if waiting after user input */

#sxr .ac {
  text-align: right;
  background: var(--sxr);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1.5rem 0;
  overflow: hidden;  /* hide the excess part of .s_a */
  position: relative;
  transition: 0.25s filter;
}
#sxr .ac:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: -1rem 0;  /* to counter the padding of the parent */
  box-shadow: var(--sxra-shadow);
}

#sxr .ac:hover, #sxr .ac:active {
  filter: var(--sxrh);
}

.s_a {  /* sura-aaya title in #sxr */
  background: var(--sxsa);
  border-radius: 0 1rem 0 1rem;
  padding: 3rem 1rem 0.5rem 0.75rem;
  margin: 0 -1rem 0 1rem;
}

@media (max-width: 359px) {
  .s_a {  /* make it full line */
    display: block;
    padding: 1rem;
    margin: -1rem -1rem 0 -1rem;
  }
}

#sxr .aya {
  line-height: 2.75;
}

#sxr:hover, #sxr:focus {
  cursor: pointer;
}

/* end: search */

select, .bh { margin: 0.5em 0 }
hr, #selectors { margin-top: 1em }

.b3 { display: flex; justify-content: center }
.b3 button { width: 8em; margin: 0 0.5em }
@media (max-width: 439px) {
.b3 button { white-space: pre; min-width: 3.5em; padding: 0.5em 0 }
}
@media (max-width: 259px) {
.b3 button { margin: 0 0.25em }
}
