/* Amiri Quran 0.112, SIL OFL 1.1; https://github.com/alif-type/amiri */
@font-face {
  font-family: AmiriQuranWeb;
  font-style: normal;
  font-weight: 400;
  src: url('AmiriQuran.woff2') format('woff2');
}
* { font-family: AmiriQuranWeb }
#p {
  text-align: right;
  border: 1px solid gray;
  border-radius: 0.5em;
  background: #f0f0f0;
  padding: 1em 0.5em;
  line-height: 3;
}
center {
  width: min(50em, 95vw);
  margin: 0 auto;
  box-sizing: border-box;
}
#p > .w {
  display: inline;
}
#x > .w {
  display: inline-block;
  border: 1px solid gray;
}
.w {
  border-radius: 0.5em;
  background: lightgray;
  padding: 0.25em 0.5em;
  margin: 0.1em;
}
#x > .w:hover {
  background: #e0e0e0;
  cursor: pointer;
}

.option { margin-bottom: 0.5em }
#ok { margin: 0.75em 0 }

#inf {
  display: inline-block;
  color: #808080;
  background: #eaeaea;
  border: 1px dashed gray;
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
  margin: 0.1em;
  cursor: not-allowed;
}

/*
*/

#body { min-height: calc(100vh - 4em) }  /* make #about stick to the footer if short page */

#about {
  font-family: serif;
  font-size: 60%;
  margin: 0;
  margin-top: 2em;
  padding: 0 1em 0.5em 1em;
  box-sizing: border-box;
  color: #888;
  border-top: 1px solid gray;
}

#xyz { font-family: monospace }

a { text-decoration: none }
a[href]:hover,
a[href]:focus,
a[href]:active { text-decoration: underline }

#about a { color: #99f }
#about a:hover,
#about a:focus { color: #55f }
#about a:active { color: #22f }

.mx { background-color: hsl(  0, 100%, 59%) }
.m5 { background-color: hsl( 20, 100%, 55%) }
.m4 { background-color: hsl( 40, 100%, 51%) }
.m3 { background-color: hsl( 60, 100%, 42%) }
.m2 { background-color: hsl( 80, 100%, 42%) }
.m1 { background-color: hsl(100, 100%, 39%) }
.m0 { background-color: hsl(120, 100%, 34%) }

.hint {
  transition: box-shadow 1s;
  box-shadow: 0 0 0.1em 0.1em #f008,
        inset 0 0 0.4em 0.4em #f004;
}

@media (prefers-color-scheme: dark) {
html, body { color: #f0f0f0; background: #000 }
select, input, button { filter: invert(1) }
#p { background: #202020 }
.w { background: #302b2b }
#x > .w:hover { background: #404050 }
#inf { background: #252020 }
.mx { background-color: hsl(  0, 100%, 44%) }
.m5 { background-color: hsl( 20, 100%, 40%) }
.m4 { background-color: hsl( 40, 100%, 36%) }
.m3 { background-color: hsl( 60, 100%, 27%) }
.m2 { background-color: hsl( 80, 100%, 26%) }
.m1 { background-color: hsl(100, 100%, 24%) }
.m0 { background-color: hsl(120, 100%, 19%) }
#about a { color: #77a }
#about a:hover,
#about a:focus { color: #77d }
#about a:active { color: #99f }
.hint {
  box-shadow: 0 0 0.1em 0.1em #f44a,
        inset 0 0 0.4em 0.4em #f44a;
}
}

[disabled] ~ label, label:has(~ [disabled]) { color: gray; cursor: not-allowed }
input[disabled], select[disabled] { cursor: not-allowed }

/* largely copied from Recite */

#aaya_bgn, #aaya_end { font-family: KacstOne; }

/* suar/ayat selection */
#selectors > div label:first-child { /* من سورة and إلى سورة */
  display: inline-block;
  width: 4em;
}
#selectors > div {
  display: inline-block;
  max-width: 15em;
  min-width: 40%;
  margin: 0.1rem 0;
}
#aaya_bgn, #aaya_end { width: 1.5em; }
/* #sura_bgn, #sura_end { width: 6.5em; } */
#sura_bgn, #sura_end { width: 35%; }

#ok { display: block }
button {
  width: min(35vw, 10rem);
  transition: opacity 0.5s ease-in-out;
  touch-action: manipulation; /* disable double-tap zooming; https://stackoverflow.com/a/53236027 */
  cursor: pointer;
}

button:disabled { cursor: not-allowed }
#header button { margin: 0 1em }

#qaris {
  font-family: serif;
  margin-top: 1em;
  width: calc(100% - 7em);
}

#preloader {
  display: none;
}

#player {
  display: block;
  /* centered with https://stackoverflow.com/a/2006008 */
  margin-left: -5rem; /* negative half of width */
  width: 10em;
  left: 50vw;
  /* sticky at top */
  position: fixed;
  top: 0;
  /* hidden if no qari is selected */
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 30;  /* higher than the help toggle label */
}

